/* ./src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1e28;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00c8ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00c8ff;
}
::-webkit-scrollbar {
  display: none;
}
* {
  margin: 10;
  padding: 10;
}
body {
  --tw-bg-opacity: 1;
  font-family: "Ubuntu", sans-serif !important;
}
button {
  text-align: center;
}
