.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #2a2e38 rgb(255, 255, 255);
  animation: s1 1s infinite;
}
@keyframes s1 {
  to {
    transform: rotate(0.9turn);
  }
}
